
body {
  background: linear-gradient(
    90deg,
    #ffafbd,
    #e7d4e7 100%
  );
}
.header {
  background: #c06a99;
  color:rgb(85, 5, 25);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100% ;
border-radius: 10px;
}


.footer {
  background: #c06a99;
  
  
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
border-radius: 10px;
  
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 600px;
  background: #c06a99;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: antiquewhite;
  font-size: 25px;
}
b {
  font-size: 27px
}
h3 {
  margin: 32px 0;
  color: antiquewhite;
}
.todoform {
  margin-bottom: 32px;
}

.todoinput {
padding: 14px 32px 14px 16px;
border-radius: 4px 0 0 4px;
border: 2px solid #f08287;
outline: none;
width: 320px;

}

.todobutton {
  background-color: rgb(247, 201, 229);
  border: 1px solid #f08287;
  border-radius: 5px;
  padding: 15.65px;
  position: relative;
left: 1px;
color: rgb(68, 5, 10);
}

.taskinput {
  border: 2px solid #f08287;
  border-radius: 5px;
  background-color: rgb(247, 174, 219);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  color: rgb(43, 3, 9);
}

.delete {
  color: rgb(43, 3, 9);
}
.icons {
  
  display: flex;
  width: 60px;
  font-size: 29px;
  margin-top: 2px;
}
/* .to-do-row edits the text style of the tasks inputted */
.to-do-row {
  /* border-style: solid; */
  border-color: #ec9191;
  display: flex;
  justify-content: space-between;
    width: 100%

}





@media only screen and (max-width: 600px) {



  .app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 350px;
  min-height: 525px;
  background: #c06a99;
  text-align: center;
  margin: 120px auto;
  border-radius: 10px;
  padding-bottom: 30px;
  }
.header {
    background: #c06a99;
    color:rgb(85, 5, 25);
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100% ;
  border-radius: 10px;
  
  
}

  .footer {
  background: #c06a99;
  
      color:rgb(85, 5, 25);
      display: flex;
      justify-content: center;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
  }

  h1 {
    margin: 32px 0;
    color: antiquewhite;
    font-size: 25px;
  }

  b {
    font-size: 27px
  }

  h3 {
    margin: 32px 0;
    color: antiquewhite;
  }
  .to-do-row {
    /* border-style: solid; */
    border-color: #ec9191;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

  
  }
.todobutton {
  background-color: rgb(247, 201, 229);
  border: 1px solid #f08287;
  border-radius: 5px;
  padding: 15.65px;
  position: relative;
left: 1px;
color: rgb(68, 5, 10);
}
  .todoinput {
    width: 200px;
  
    border-radius: 5px;
    /* border: solid; */
  }

  .taskinput {
    border: 2px solid #f08287;
    border-radius: 5px;
    background-color: rgb(247, 174, 219);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    color: rgb(43, 3, 9);
  }
  .icons {
    /* border-style: solid; */
    display: flex;
    width: 60px;
    font-size: 25px;
    margin-top: 4.75px;
  }
  
  .delete {
    color: #700626;
  }
}